<div class="container">

    <p>Post data:</p>
    Game Name: <input type="text" id="txtGameName" />
    <br />
    <br />
    Player1 Name : <input type="text" id="txtPlayre1" />
    <br />
    <br />
    Player2 Name : <input type="text" id="txtPlayre2" />
    <br />
    <br />
    Who Won : <input type="text" id="txtWhoWon" />
    <br />
    <br />
    <button id="btnPostTornir" onclick="postTornir()">POST Tornir</button>
    <button id="btnPostTornirJQuery" onclick="postJQueryTornir()">POST Tornir JQuery</button>
    <div id="results">

    </div>
</div>
