<div class="container">
    <br />
    <br />
    <input class="btn btn-primary" id="btnGetAllObserMy" type="button" value="Get All By Obserball" />
    <br />
    <br />
    <div id="results">

    </div>
</div>