<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../Scripts/myScript/PagePut.js"></script>
</head>
<body>
    <p>Enter ID Game to up :</p>
    <br />
    <input type="number" min="1" id="txtId" />
    <br />
    <br />
    <button id="btnGetById" onclick="getTornir()">Get Tornir by id</button>
    <br />
    <br />
    <p>The game you choese :</p>
    <br />
    Game name: <input type="text" id="txtGameName" />
    <br />
    <br />
    Player1: <input type="text" id="txtPlayer1" />
    <br />
    <br />
    Player2: <input type="text" id="txtPlayer2" />
    <br />
    <br />
    who won: <input type="text" id="txtWhoWon" />
    <br />
    <br />
    <button id="btnUp" onclick="">Update Tornir</button>
    <div id="results1">

    </div>
    <br />
    <br />
    <br />
    <br />
    <button id="btnGetByIdJQ" onclick="">Get Tornir by id Jquery</button>
    <button id="btnUpJQ" onclick="">Update Tornir Jquery</button>
    <div id="results2">

    </div>
</body>
</html>