


<script src="~/Scripts/myScript/pageDeleteJS.js"></script>

<div class="container">

    <p>Delete Tornir:</p>
    ID: <input type="number" id="txtId" min="1" />
    <br />
    <br />
    <button id="btnDelete" onclick="deleteById()">Delete Tornir by id</button>
    <button id="btnDeleteJquery" onclick="deleteByIdJquery()">Delete Tornir by id Jquery</button>
    <br />
    <br />
    <div id="results">

    </div>
</div>
