<div id="results">
    <div class="container">

        <p>Enter ID Game to up :</p>
        <br />
        <input type="number" min="1" id="txtId" />
        <br />
        <br />
        <button id="btnGetById" onclick="getTornirPut()">Get Tornir by id</button>
        <br />
        <br />
        <p>The game you choese :</p>
        <br />
        Game name: <input type="text" id="txtGameName" />
        <br />
        <br />
        Player1: <input type="text" id="txtPlayer1" />
        <br />
        <br />
        Player2: <input type="text" id="txtPlayer2" />
        <br />
        <br />
        who won: <input type="text" id="txtWhoWon" />
        <br />
        <br />
        <button id="btnUp" onclick="putTornir()">Update Tornir</button>
        <div id="results1">

        </div>
        <br />
        <br />
        <br />
        <br />
        <p> do all by jquery :</p>
        <p>Enter ID Game to up :</p>
        <br />
        <input type="number" min="1" id="txtId2" />
        <br />
        <br />
        <button id="btnGetById2" onclick="getTornirJquery()">Get Tornir by id in Jquery</button>
        <br />
        <br />
        <p>The game you choese :</p>
        <br />
        Game name: <input type="text" id="txtGameName2" />
        <br />
        <br />
        Player1: <input type="text" id="txtPlayer1_2" />
        <br />
        <br />
        Player2: <input type="text" id="txtPlayer2_2" />
        <br />
        <br />
        who won: <input type="text" id="txtWhoWon2" />
        <br />
        <br />
        <button id="btnUp" onclick="putTornirJquery()">Update Tornir Jquery</button>
        <div id="results2">

        </div>
        <br />
        

    </div>
</div>