<div class="container">
    <input type="button" class="btn btn-primary" value="Get on Promies ManyResults" onclick="onPromiesManyResults()" />
    <br />
    <input type="button" class="btn btn-danger" value="Get on Promies Error" onclick=" onPromiesError()" />
    <br />
    <input type="button" class="btn btn-warning" value="Get on Promies Empyt" onclick="onPromiesEmpyt()" />
</div>
