



<div class="container">
    <p>Enter ID :</p>
    <input id="txtId" type="number" min="1" />
    <br />
    <br />
    <input class="btn btn-primary" id="btnGetAll" type="button" value="Get All" onclick="getTornir()" />
    <input class="btn btn-primary" id="btnGetById" type="button" value="Get By Id" onclick="getByIdTornir()" />
    <input class="btn btn-primary" id="btnGetJquery" type="button" value="Get Jquery" onclick="getTornirJquery()" />
    <input class="btn btn-primary" id="btnGetJquery" type="button" value="Get By Id Jquery" onclick="getTornirByIdJquery()" />
    <br />
    <br />
    <div id="results">

    </div>

</div>
